[Unit]
Description=Manage Zero1 power LED and its daily shutdown schedule
After=local-fs.target systemd-udev-settle.service
Before=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/power-led-solid.sh
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
